@font-face {
    font-family: "DMSans-Bold" ;
    src: url(../assets/fonts/DMSans-Bold.ttf);
}
@font-face {
    font-family: "DMSans-Medium" ;
    src: url(../assets/fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: "DMSans-Regular" ;
    src: url(../assets/fonts/DMSans-Regular.ttf)
}